.burger {
    cursor: pointer;
    z-index: 1000;
  }
  
  .burgerIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1000;
    margin-right: 15px;
    
  }
  
  .bar {
    width: 30px;
    height: 4px;
    background-color: var(--Red);
    transition: 0.4s;
    border-radius: 4px;
  }
  
  .burger.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg)

  }
  
  .burger.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .burger.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .burger.open :active {
    transition: 1s;
  }
  
  .menu {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: block;
  }
  
  .burger.open .menu {
    display: block;
    background-color: pink;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu ul li {
    margin-bottom: 10px;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: #000000;
    font-family: var(--FontRoboto);

  }

  .menu ul li a:hover{
 background-color: rgb(196, 192, 193);

  }
  
  .burgerMenu {
    display: none; 
    @media (max-width: 768px) {
      display: block; 
    }
  }
  