

.topnavigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--Snow);
  // color: #fff;
  // padding: 10px;
  z-index: 1000;
  // display: center;
  align-items: center; 
  display: flex;
  justify-content: center;
}

.topnavigation ul {
  list-style: none;
  display: flex;
  margin: 0 auto; 
  padding: 0;
  align-items: center; 
}

.topnavigation ul li {
  margin: 0;
  padding: 0;
}

.topnavigation ul li a {
  text-decoration: none;
  // color: #fff;
  font-family: var(--FontRoboto);
  font-size: 24px; 
  // margin: 0 1px;
  position: relative; 
  padding-right: 10px; 

  color: var(--Black);
  padding-left: 20px;
}

.topnavigation ul li a:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color:var(--Black);
  top: 0;
  right: 0;
  
}

.topnavigation ul li:last-child a {
  margin-right: 0; 
}

.topnavigation ul li a:hover {
  text-decoration: underline;
}

.logo {
  text-decoration: none;
  color: #a20808;
  font-family: var(--logoFont);
  font-size: 48px;
  font-weight: bold;
  display: left;
  align-items: center; 
  // margin-right: 60px; /* Push the logo to the left */
  margin-left: 5px;
}


