// Desktop Version

.oneArticle {
  max-width: 1230px;
  display: grid;
  margin: auto;
  background-color: var(--Snow);
  margin-bottom: 20px;
  img {
    width: 70%;
    padding-top: 60px;
    // align-items: center;
    display: center;
    margin-left: auto;
    margin-right: auto;

  }
  .titleAndDate {
    padding-left: 20px;
    padding-top: 50px;
    text-align: center;
    font-family: var(--FontRoboto);

    h2 {
      font-size: 2.5rem;
      font-family: var(--FontRoboto);

    }
    p {
      padding-top: 10px;
      padding-bottom: 30px;
      color: var(--Red);
      font-size: 0.875rem;
      font-family: var(--FontRoboto);

    }
  }
  .content {
    max-width: 909px;
    margin: auto;
    font-size: 1rem;
    padding-bottom: 50px;
    p {
      padding-top: 10px;
    }
  }
}

// Mobile version
$mobile: 500px;

.oneArticle {
  @media screen and (max-width: $mobile) {
    .content {
      padding: 20px;
    }
  }
}