

.IconContainer {
    display: flex;
    margin-right: 50px;
    // background-color: pink;
    // align-items: center;
    
    .MyIcon {
        width: 30px;

    }
  
    @media (max-width: 768px) {
        display: flex;
    }
  }
  
  